.sug_box {
    border: 1px solid grey;
    padding: 15px;
    border-radius: 10px;
    width: calc(43% - 13px);
    margin: 0.5%;
    box-sizing: border-box; 
    display: flex;
    align-items: center;
    font-size: 15px;
  }
  
  .sug_outer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    width: 90%; 
  }
  
  @media (max-width: 1047px) {
    .sug_box{
    height: 50px;
    }
   }

  @media (max-width: 920px) {
   .sug_box{
    font-size: small;
    padding: 8px;
   }
  }

  @media (max-width: 730px) {
   .sug_box{
    font-size: 11.3px;
height: 36px;
   }
  }

  @media (max-width: 513px) {
    .sug_box{
      height: 40px;
      padding: 3px;
    }
   }

   @media (max-width: 500px) {
    .sug_box{
      font-size: 10px;
    }
    .sug_outer{
      margin-right: 10px;
    }
   }

  
  @media (max-width: 440px) {
   .sug_box{
    font-size: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
   }
  }
  